@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap');



// ***** || GLOBAL VARIABLES 
$monts: "Montserrat",
sans-serif;
$main-gradient: linear-gradient(180deg, #f3727d 0%, #f69e83 100%);
$blue : #575CB3;

::-webkit-scrollbar {
  display: none;
}

.bg-color {
  background-image: url("../images/BG.svg");
  background-color: #cccccc;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-container {
  background: #FFFFFF;
  border-radius: 15px;
  min-width: 327px;
  max-width: 327px;
  margin: 24px;
  height: 520px;
}

.page-content {
  padding: 24px
}

.page-cover {
  display: flex;
  flex-direction: row;
  align-items: center;
}


.page-inner-scroll {
  max-height: 400px;
  overflow: scroll;
}



a,
u {
  text-decoration: none;
}



// ----------



// ***** || GLOBAL FONTS

h1 {
  font-family: $monts;
  font-size: 16px;
  margin: 0px;
}

h2 {
  font-family: $monts;
  font-size: 16px;
  margin: 0px;
  font-weight: 600px
}

h3 {
  font-family: $monts;
  font-weight: 400;
  font-size: 13px;
  margin: 0px;
}


main {
  height: 100vh;
  width: 100vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


// ----------



// ***** || GLOBAL PAGES - IMPORT TINDER SWIPE
body {
  margin: 0px;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

#root>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: min-content
}

.app>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  flex-direction: row !important;
}

.row>* {
  margin: 5px;
}



// ----------



// ***** || SWIPE PAGE 
.cardContainer {
  min-width: 327px;
  height: 343px;
}

.swipe {
  position: absolute;
}

.card {
  position: relative;
  background-color: #fff;
  min-width: 327px;
  height: 342px;
  border-radius: 30px;
  background-size: cover;
  background-position: center;
}


// ? DISTANCE '2.2 KM AWAY'
.card-distance {
  position: absolute;
  top: 16px;
  left: 16px;
  background: rgba(40, 40, 40, 0.6);
  border-radius: 16px;
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  img {
    padding-left: 10px;
  }

  h3 {
    color: white;
    padding: 0px 10px 0px 10px;
  }
}


// ? USERNAME DETAILS
.card-user {
  position: absolute;
  height: 90px;
  background-image: linear-gradient(rgba(243, 114, 125, 0.8), rgba(246, 158, 131, 0.8));
  border-radius: 0 0 30px 30px;
  bottom: 0px;
  min-width: 327px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  h2 {
    margin-left: 24px;
    margin-bottom: 8px;
    color: white;
  }

  h3 {
    margin-left: 24px;
    color: white;
  }
}


// ? HOMEPAGE BUTTONS
.button-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.button-style {
  height: 56px;
  width: 56px;
  background-image: linear-gradient(180deg, #f3727d 0%, #f69e83 100%);
  box-shadow: 0 4px 15px 0 #e8c6c9;
  border-radius: 100px;
  border: none;
  margin-left: 0px;
  margin-right: 28px;

  img {
    height: 30px;
    width: 30px;
    margin-top: 4px
  }
}

#button-style-right {
  margin-left: 28px;
  margin-right: 0px
}

#accept {
  margin-top: 5px;
}


// ? LOGO
.logo {
  margin-bottom: 20px;
}


// ? YOU SWIPED LEFT
.infoText {
  width: 100%;
  height: 28px;
  justify-content: center;
  display: flex;
  color: $blue;
  font-weight: 400;
  animation-name: popup;
  animation-duration: 800ms;
  margin: 24px 0px 16px 0px;
  opacity: 0.75;
}



.buttons button:hover {
  transform: scale(1.05);
}

@keyframes popup {
  0% {
    transform: scale(1, 1);
  }

  10% {
    transform: scale(1.1, 1.1);
  }

  30% {
    transform: scale(0.9, 0.9);
  }

  50% {
    transform: scale(1, 1);
  }

  57% {
    transform: scale(1, 1);
  }

  64% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(1, 1);
  }
}



// ----------



// ***** || MENU

nav {

  height: 56px;
  background-image: linear-gradient(180deg, #F0F0FF 0%, #CCCEFF 100%);
  box-shadow: 0 2px 25px 0 rgba(50, 53, 110, 0.10);
  border-radius: 20px;
  width: 100%;
  max-width: 327px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  button {
    border: none;
    background-color: transparent;
  }

  img {
    width: 24px;
    height: 24px
  }
}

.nav-icon:hover .icon-passive,
.nav-icon .icon-active {
  display: none;
}

.nav-icon:hover .icon-active {
  display: inline;
}



// ----------



// **** || LOGIN & REGISTER
.input-field {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  min-width: 327px;
  height: 51px;
  border: none;
}

.input-field::placeholder,
input:focus,
input {
  font-family: $monts;
  color: white;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  opacity: 1;
  letter-spacing: 0.05em;
  outline: none
}

.form-section {
  margin: 20px 0px 20px 0px;
}

.form-section-register {
  margin: 10px 0px 10px 0px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    margin-top: 20px;
  }

  a {
    height: 20px;
    margin-top: 20px;
    height: min-content;
    margin-top: 40px;
    color: white;
    font-family: $monts;
    font-size: 16px;
    font-weight: 400px;
  }

  .alt-page {
    height: 20px
  }
}

.form-button {
  border: none;
  width: 100px;
  height: 40px;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  background: transparent;
  color: white;
  font-size: 16px;
  font-family: $monts;
  font-weight: 500;
  font-style: italic;
  padding-top: 2px;
}



// ----------



// **** || MODAL & OVERLAY
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: #FFF;
  padding: 50px;

  h2 {
    color: $blue;
    font-size: 18px;
  }

  h3 {
    font-weight: 500;
    color: rgba(153, 158, 255, 0.8);
    margin-top: 8px;
    text-align: center;
    font-size: 16px;
  }

  button {
    background-image: linear-gradient(135deg, rgba(243, 114, 125, 0.80) 0%, rgba(246, 158, 131, 0.80) 100%);
    border-radius: 10px;
    border: none;
    height: 46px;
    width: 112px;
    color: white;
    font-size: 16px;
    font-family: $monts;
    font-weight: 500;
    font-style: italic;
    margin-top: 24px;
    text-transform: uppercase;
  }

  a {
    font-family: Montserrat-MediumItalic;
    font-size: 13px;
    color: #6B70E6;
    letter-spacing: 0;
    text-align: center;
    margin-top: 24px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-image: url("../images/BG.svg");
  background-color: #f3727d;
  background-size: cover;
  z-index: 1000;
  opacity: 0.9;
}



// ----------



// **** || MESSAGE HOME
.message-cover {
  margin-left: 16px;

  h1 {
    font-size: 16px;
    color: #575CB3;
    letter-spacing: 0;
    font-weight: 600;
    margin-bottom: 8px;
  }

  h3 {
    font-size: 13px;
    color: rgba(153, 158, 255, 0.75);
    letter-spacing: 0;
    font-weight: 500;
  }
}

hr {

  border: 1px #F0F0F0 solid;
  margin-bottom: 24px;
  margin-top: 24px;


}

.message-list {

  display: flex;
  flex-direction: row;
  margin-bottom: 40px;

  img {
    height: 64px;
    width: 64px;
    border-radius: 100%;
    object-fit: cover;
  }
}

.message-user {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-content: center;
  align-items: flex-start;

  h2 {
    font-size: 16px;
    color: #575757;
    letter-spacing: 0;
    margin-left: 16px;
  }

  h3 {
    font-size: 13px;
    color: #BFBFBF;
    letter-spacing: 0;
    font-weight: 500;
    margin-left: 16px;

  }
}


// ----------


// **** || MESSAGE LIST
.profile-image {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  object-fit: cover;
  margin-left: 8px;
}


.message-content {

  background: #EDEEFF;
  border-radius: 20px;

  h2 {
    font-weight: 500;
    font-size: 15px;
    color: #7D83FF;
    letter-spacing: 0;
    padding-top: 16px;
    margin: 16px 16px 0px 16px
  }

  h3 {
    font-weight: 500;
    font-size: 12px;
    color: #575CB3;
    letter-spacing: 0;
    padding-bottom: 16px;
    margin: 8px 0px 16px 16px
  }
}


.message-field {
  background-color: #F5F5FF;
  border-radius: 25px;
  border: none;
  width: 272px;
  height: 35px;
  font-family: $monts;
  font-weight: 400;
  font-size: 14px;
  color: #575CB3;
  letter-spacing: 0;
  padding: 14px 0px 0px 16px;

}

.message-field::placeholder,
.message-field:focus {
  font-family: $monts;
  font-weight: 400;
  font-size: 14px;
  color: #575CB3;
  letter-spacing: 0;
  outline: none;
}

.dm-button {
  position: absolute;
  margin-top: 8px;
  margin-left: 120px;
  background-image: linear-gradient(180deg, #F3727D 0%, #F69E83 100%);
  border: none;
  border-radius: 100%;
  height: 34px;
  width: 34px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    height: 15px;
    width: 15px;
    margin-left: 4px;
  }
}

textarea {
  resize: none;
}

.dm-inner-scroll {
  max-height: 320px;
  margin-bottom: 14px;
  overflow: scroll;
}

.overflow-fade {
  height: 50px;
  width: 279px;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
  position: absolute;
  margin-top: 365px;
  z-index: 3000;
}



// ----------



// **** || PROFILE PAGE
.edit-cover {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  h1 {
    margin-left: 20px;
    font-size: 16px;
    color: #575CB3;
    letter-spacing: 0;
    font-weight: 600;
  }
}

.edit-icon {
  margin-left: 110px;
}

.profile-content {
  margin-bottom: 25px;
  height: 472px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.edit-input-field {
  background: #EDEEFF;
  border-radius: 20px;
  width: 279px;
  height: 51px;
  border: none;
  color: #575CB3;
  font-weight: 400;
  font-size: 14px;
  text-align: left;
  padding-left: 16px;
  margin-top: 10px
}

.edit-input-field::placeholder,
.edit-input-field:focus {
  font-family: $monts;
  font-weight: 400;
  font-size: 14px;
  color: #575CB3;
  outline: none;
  text-align: left;
}

.edit-profile-button {
  background-image: linear-gradient(135deg, rgba(243, 114, 125, 0.80) 0%, rgba(246, 158, 131, 0.80) 100%);
  border-radius: 10px;
  border: none;
  height: 46px;
  width: 112px;
  color: white;
  font-size: 16px;
  font-family: $monts;
  font-weight: 500;
  font-style: italic;
  margin-top: 24px;
  text-transform: uppercase;

  a {
    font-family: Montserrat-MediumItalic;
    font-size: 13px;
    color: #6B70E6;
    letter-spacing: 0;
    text-align: center;
    margin-top: 24px;
  }
}

label {
  font-family: $monts;
  font-weight: 500;
  font-size: 12px;
  color: #575CB3;
  letter-spacing: 0;
  margin-left: 16px;
}

.edit-form-section {
  margin: 20px 0px 10px 0px;
}

.camera-button {
  color: transparent;
  background-color: transparent;
  border: none;
  outline: none
}

.edit-profile-hr {
  margin-bottom: 0px
}