@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

// ***** || GLOBAL VARIABLES 

$monts: "Montserrat",
sans-serif;
$main-gradient: linear-gradient(180deg, #f3727d 0%, #f69e83 100%);
$blue : #575CB3;





// ***** || GLOBAL FONTS

h1 {
  font-family: "Damion", cursive;
  color: #fff;
  text-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.3);
  margin: 0px;
}

h2 {
  font-family: $monts;
  font-size: 16px;
  color: white;
  margin: 0px;
}

h3 {
  font-family: $monts;
  font-weight: 400;
  font-size: 13px;
  margin: 0px;
}


main {
  height: calc(100vh - 210px);
  width: 100vw;
  background-color: white;
}

.bg-color {
  background-image: url("../images/BG.svg");
  background-color: #cccccc;
}



.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFF;
  padding: 50px;
  z-index: 1000;
}

// ***** || GLOBAL PAGES - IMPORT TINDER SWIPE

body {
  margin: 0px;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

#root>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: min-content
}

.app>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  flex-direction: row !important;
}

.row>* {
  margin: 5px;
}






// ***** || SWIPE PAGE 

.cardContainer {
  min-width: 327px;
  height: 343px;
}

.swipe {
  position: absolute;
}

.card {
  position: relative;
  background-color: #fff;
  min-width: 327px;
  height: 342px;
  border-radius: 30px;
  background-size: cover;
  background-position: center;
}


// ? DISTANCE '2.2 KM AWAY'
.card-distance {
  position: absolute;
  top: 16px;
  left: 16px;
  background: rgba(40, 40, 40, 0.6);
  border-radius: 16px;
  height: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  img {
    padding-left: 10px;
  }

  h3 {
    color: white;
    padding: 0px 10px 0px 10px;
  }
}


// ? USERNAME DETAILS
.card-user {
  position: absolute;
  height: 90px;
  background-image: linear-gradient(rgba(243, 114, 125, 0.8), rgba(246, 158, 131, 0.8));
  border-radius: 0 0 30px 30px;
  bottom: 0px;
  min-width: 327px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  h2 {
    margin-left: 24px;
    margin-bottom: 8px;
  }

  h3 {
    margin-left: 24px;
    color: white;
  }
}


// ? HOMEPAGE BUTTONS
.button-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.button-style {
  height: 56px;
  width: 56px;
  background-image: linear-gradient(180deg, #f3727d 0%, #f69e83 100%);
  box-shadow: 0 4px 15px 0 #e8c6c9;
  border-radius: 100px;
  border: none;
  margin-left: 0px;
  margin-right: 28px;

  img {
    height: 30px;
    width: 30px;
    margin-top: 4px
  }
}

#button-style-right {
  margin-left: 28px;
  margin-right: 0px
}

#accept {
  margin-top: 5px;
}


// ? LOGO
.logo {
  margin-bottom: 20px;
}


// ? YOU SWIPED LEFT
.infoText {
  width: 100%;
  height: 28px;
  justify-content: center;
  display: flex;
  color: $blue;
  font-weight: 400;
  animation-name: popup;
  animation-duration: 800ms;
  margin: 24px 0px 16px 0px;
  opacity: 0.75;
}





.buttons button:hover {
  transform: scale(1.05);
}

@keyframes popup {
  0% {
    transform: scale(1, 1);
  }

  10% {
    transform: scale(1.1, 1.1);
  }

  30% {
    transform: scale(0.9, 0.9);
  }

  50% {
    transform: scale(1, 1);
  }

  57% {
    transform: scale(1, 1);
  }

  64% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(1, 1);
  }
}





// ***** || MENU
.tinder-text {
  text-align: center;
}

// ? MENU

nav {

  height: 56px;
  background-image: linear-gradient(180deg, #F0F0FF 0%, #CCCEFF 100%);
  box-shadow: 0 2px 25px 0 rgba(50,53,110,0.10);
  border-radius: 20px;
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  button {
    border: none;
    background-color: transparent;
  }

  img {
    width: 24px;
    height: 24px
  }
}

.nav-icon:hover .icon-passive,
.nav-icon .icon-active {
  display: none;
}

.nav-icon:hover .icon-active {
  display: inline;
}




// ************** Profile Match **************

.buttonwrapper {
  position: relative;
  z-index: 1;
}

.othercontent {
  position: relative;
  z-index: 2;
  background-color: red;
  padding: 10px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFF;
  padding: 50px;
  z-index: 1000;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7);
  z-index: 1000;
}






// // ************** Banner **************
// .banner {
//   height: 100px;
//   width: 100vw;
//   position: sticky;
//   top: 0;
//   background-color: white;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   border-bottom: 10px solid white;
// }

// .banner-title {
//   font-family: 'Roboto', sans-serif;
//   font-size: 60px;
//   font-weight: bolder;
//   text-align: center;
//   background: -webkit-linear-gradient(#F3747D, #F59C82);
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
// }

// // ************** NavBar **************

// .navbar {
//   height: 70px;
//   width: 100%;
//   background-image: linear-gradient(#EFF0FF, #DCDEFF);
//   display: flex;
//   flex-direction: row;
//   justify-content: space-evenly;
//   align-items: center;
//   position: sticky;
//   bottom: 0;
//   border-radius: 20px;
// }

// .navbar-link {
//   text-align: center;
//   width: 25%;
// }

// .navbar-match {
//   height: 75px;
//   width: 75px;
//   // background: url('');
//   // background-size: contain;
// }

// .navbar-profile {
//   height: 75px;
//   width: 75px;
//   // background: url('');
//   // background-size: contain;
// }

// .navbar-messages {
//   height: 75px;
//   width: 75px;
//   // background: url('');
//   // background-size: contain;
// }